.centered {
    text-align: center;
}

.error {
    color: red;
}

.float-right {
    float: right;
}

.highlighted {
    background: lightblue !important; 
}

.highlighted * {
    background: lightblue !important;
}

.redlighted {
    background: lightpink !important; 
}

.redlighted * {
    background: lightpink !important;
}

.subsubsub {
    width: 100%;
}

.forms_list-item * {
    transition: .10s linear;
}

.lg_form fieldset {
    border: 1px solid #DDD;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

.lg_form fieldset legend {
    margin-left: 1rem;
    cursor: pointer;
}

.lg_form fieldset legend:after {
    margin-left: .5rem;
    margin-right: .5rem;
    content: '\23F6';
    
}

.lg_form fieldset.closed legend:after {
    margin-left: .5rem;
    margin-right: .5rem;
    content: '\23F7';
}

.lg_form .input-group {
    margin-bottom: .5rem;
}

.lg_form .input-group-inline {
    margin-bottom: .5rem;
    width: border-box;
    display: inline-block;
}

.lg_form .input-group label {
    display: block;
}


.lg_form .input-group input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=file]),
.lg_form .input-group select,
.lg_form .input-group textarea {
    width: 100%;
    text-align: left;
    /*margin-top: .3em;*/
}


.lg_form .fields table {
    width: 100%;
}

.lg_form .fields table th:first-child {
    width: 20px;;
}

.lg_form .fields .field {
    text-align: justify;
}

.lg_form .fields td.inputs {
    padding: 1rem;
    background: #EEE;
    border-bottom: 1px solid #CCC !important;     
}

.lg_form .fields th:first-child,
.lg_form .fields td:first-child {
    text-align: right;
}

.lg_form .fields td.content {
    width: available;
}