::-webkit-input-placeholder { /* WebKit browsers */
   color:    #DDD;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #DDD;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #DDD;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #DDD;
}

.error {
    color: red !important;
    font-size: .8em;
}

.error-highlight {
    border-color: red !important;
}

.lg_form fieldset {
    border-color: #DDD;
    border-radius: 5px;
}

.lg_form input:not([type=checkbox]):not([type=radio]):not([type=reset]):not([type=file]),
.lg_form select{
    width: 100%;
    padding: .7em;
}

.lg_form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=reset]):not([type=file]),
select {
    margin-bottom: 1rem;
}

.lg_form label.agreement {
    display: inline-block;
    font-size: .7em;
    font-weight: normal;
}